---

---

<div
  class="text-muted text-sm bg-[#dbeafe] dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 hidden md:block overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
>
  This site uses third-party tracking cookies. By continuing to browse, you accept them.

  <a class="float-right rtl:float-left" href="javascript: window.close();"> Reject</a>
</div>
